{% load static %}

<div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
      <div data-scrollable>

        <div class="sidebar-block">
          <div class="profile">
            <a href="#">
              <img src="{% static 'apps/images/people/110/guy-6.jpg' %}" alt="people" class="img-circle width-80" />
            </a>
            <h4 class="text-display-1 margin-none">Student Name</h4>
          </div>
        </div>

        <ul class="sidebar-menu">
          <li class="active"><a href="{% url 'app_student_dashboard' %}"><i class="fa fa-bar-chart-o"></i><span>Dashboard</span></a></li>
          <li class="hasSubmenu">
            <a href="#course-menu"><i class="fa fa-mortar-board"></i><span>Courses</span></a>
            <ul id="course-menu">
              <li><a href="{% url 'courses_grid' %}"><span>Courses Grid</span></a></li>
              <li><a href="{% url 'courses_list' %}"><span>Courses List</span></a></li>
              <li><a href="{% url 'courses_details' %}"><span>Course details</span></a></li>
              <li><a href="{% url 'my_courses' %}"><span>My Courses</span></a></li>
              <li><a href="{% url 'take_courses' %}"><span>Take Course</span></a></li>
              <li><a href="{% url 'courses_forums' %}"><span>Course Forums</span></a></li>
              <li><a href="{% url 'course_forum_thread' %}"><span>Course Forum Thread</span></a></li>
              <li><a href="{% url 'take_quiz' %}"><span>Take Quiz</span></a></li>
            </ul>
          </li>
          <li class="hasSubmenu">
            <a href="#forum-menu"><i class="fa fa-file-text-o"></i><span>Forum</span></a>
            <ul id="forum-menu">
              <li><a href="{% url 'forum_home' %}"><span>Forum Home</span></a></li>
              <li><a href="{% url 'forum_category' %}"><span>Forum Category</span></a></li>
              <li><a href="{% url 'forum_thread' %}"><span>Forum Thread</span></a></li>
            </ul>
          </li>
          <li class="hasSubmenu">
            <a href="#account-menu"><i class="fa fa-user"></i><span>Account</span></a>
            <ul id="account-menu">
              <li><a href="{% url 'edit_profile' %}"><span>Edit Profile</span></a></li>
              <li><a href="{% url 'edit_billing' %}"><span>Edit Billing</span></a></li>
            </ul>
          </li>
          <li><a href="{% url 'messages' %}"><i class="fa fa-comments"></i><span>Messages</span></a></li>
          <li><a href="{% url 'login' %}"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
