{% extends 'edu/courses/../base/../base/base_move.html' %}
{% load static %}

{% block title %}
    courses-list
{% endblock %}

{% block main_content %}
    {% include 'edu/base/../base/navbar.html' %}
    {% include 'edu/base/../base/sidebar_left_move.html' %}
    {% include 'edu/base/../base/sidebar_right.html' %}
        <div class="st-pusher" id="content">



      <!-- this is the wrapper for the content -->
      <div class="st-content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner padding-none">

          <div class="container-fluid">

            <div class="page-section">
              <div class="media v-middle">
                <div class="media-body">
                  <h1 class="text-display-1 margin-none">Library</h1>
                  <p class="text-subhead">Browse through thousands of lessons.</p>
                </div>
                <div class="media-right">
                  <div class="width-100 text-right">
                    <div class="btn-group">
                      <a class="btn btn-white" href="{% url 'courses_grid' %}"><i class="fa fa-th"></i></a>
                      <a class="btn btn-grey-800" href="{% url 'courses_list' %}"><i class="fa fa-list"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-body">

                <div class="media media-clearfix-xs">
                  <div class="media-left text-center">
                    <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                      <span class="img icon-block height-130 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                      </span>
                      <a href="app-student-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-headline margin-v-5-0"><a href="app-student-course.html">Github Webhooks for Beginners</a></h4>
                    <p class="small">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas
                      quod reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                    <hr class="margin-v-8" />
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="{% static 'student_application/images/people/50/guy-6.jpg' %}" alt="People" class="img-circle width-40" />
                      </div>
                      <div class="media-body">
                        <h4><a href="">Adrian Demian</a>
                          <br/>
                        </h4>
                        Instructor
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-body">

                <div class="media media-clearfix-xs">
                  <div class="media-left text-center">
                    <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                      <span class="img icon-block height-130 bg-primary"></span>
                      <span class="overlay overlay-full padding-none icon-block bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                      </span>
                      <a href="app-student-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-headline margin-v-5-0"><a href="app-student-course.html">CSS Awesomeness with LESS Processing</a></h4>
                    <p class="small">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas
                      quod reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                    <hr class="margin-v-8" />
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="{% static 'student_application/images/people/50/guy-5.jpg' %}" alt="People" class="img-circle width-40" />
                      </div>
                      <div class="media-body">
                        <h4><a href="">Adrian Demian</a>
                          <br/>
                        </h4>
                        Instructor
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-body">

                <div class="media media-clearfix-xs">
                  <div class="media-left text-center">
                    <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                      <span class="img icon-block height-130 bg-lightred"></span>
                      <span class="overlay overlay-full padding-none icon-block bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                      </span>
                      <a href="app-student-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-headline margin-v-5-0"><a href="app-student-course.html">Portable Environments with Vagrant</a></h4>
                    <p class="small">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas
                      quod reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                    <hr class="margin-v-8" />
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="{% static 'student_application/images/people/50/guy-7.jpg' %}" alt="People" class="img-circle width-40" />
                      </div>
                      <div class="media-body">
                        <h4><a href="">Adrian Demian</a>
                          <br/>
                        </h4>
                        Instructor
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-body">

                <div class="media media-clearfix-xs">
                  <div class="media-left text-center">
                    <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                      <span class="img icon-block height-130 bg-brown"></span>
                      <span class="overlay overlay-full padding-none icon-block bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                      </span>
                      <a href="app-student-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-headline margin-v-5-0"><a href="app-student-course.html">WordPress Theme Development</a></h4>
                    <p class="small">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas
                      quod reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                    <hr class="margin-v-8" />
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="{% static 'student_application/images/people/50/guy-9.jpg' %}" alt="People" class="img-circle width-40" />
                      </div>
                      <div class="media-body">
                        <h4><a href="">Adrian Demian</a>
                          <br/>
                        </h4>
                        Instructor
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-body">

                <div class="media media-clearfix-xs">
                  <div class="media-left text-center">
                    <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                      <span class="img icon-block height-130 bg-purple"></span>
                      <span class="overlay overlay-full padding-none icon-block bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                      </span>
                      <a href="app-student-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-headline margin-v-5-0"><a href="app-student-course.html">Writing Modular JavaScript with Browserify</a></h4>
                    <p class="small">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas
                      quod reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                    <hr class="margin-v-8" />
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="{% static 'student_application/images/people/50/guy-4.jpg' %}" alt="People" class="img-circle width-40" />
                      </div>
                      <div class="media-body">
                        <h4><a href="">Adrian Demian</a>
                          <br/>
                        </h4>
                        Instructor
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-body">

                <div class="media media-clearfix-xs">
                  <div class="media-left text-center">
                    <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                      <span class="img icon-block height-130 bg-default"></span>
                      <span class="overlay overlay-full padding-none icon-block bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                      </span>
                      <a href="app-student-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="text-headline margin-v-5-0"><a href="app-student-course.html">Super Easy Online Payments with Stripe</a></h4>
                    <p class="small">
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                      <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda aut debitis, ducimus, ea eaque earum eius enim eos explicabo facilis harum impedit natus nemo, nobis obcaecati omnis perspiciatis praesentium quaerat quas
                      quod reprehenderit sapiente temporibus vel voluptatem voluptates voluptatibus?</p>

                    <hr class="margin-v-8" />
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="{% static 'student_application/images/people/50/guy-4.jpg' %}" alt="People" class="img-circle width-40" />
                      </div>
                      <div class="media-body">
                        <h4><a href="">Adrian Demian</a>
                          <br/>
                        </h4>
                        Instructor
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <ul class="pagination margin-top-none">
              <li class="disabled"><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>

          </div>

        </div>
        <!-- /st-content-inner -->

      </div>
      <!-- /st-content -->

    </div>
    {% include 'edu/base/../base/footer.html' %}
{% endblock %}

