{% extends 'apps/courses/../base/../auth/base_auth.html' %}
{% load static %}

{% block title %}
    login
{% endblock %}

{% block main_content %}
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <div class="row flex-center min-vh-100 py-6 text-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4" href="{% url 'index_page' %}">
              <img class="me-2" alt="" width="15" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">Learning</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <h5 class="mb-0">Forgot your password?</h5><small>Enter your email and we'll send you a reset link.</small>
                <form class="mt-4" method="post" action="{% url 'forgot_password' %}">
                    {% csrf_token %}
                  <input class="form-control" name="email" type="email" placeholder="Email address" />
                  <div class="mb-3"></div>
                  <button class="btn btn-primary d-block w-100 mt-3" type="submit">Send reset link</button>
                </form><a class="fs--1 text-600" href="#!">I can't recover my account using this page<span class="d-inline-block ms-1">&rarr;</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include 'apps/base/../base/footer.html' %}
{% endblock %}

