{% extends 'edu/courses/../base/../base/base.html' %}
{% load static %}

{% block title %}
    statement
{% endblock %}

{% block main_content %}
    {% include 'edu/base/../base/navbar.html' %}
    {% include 'edu/base/../base/sidebar_left_instructor.html' %}
        <div class="st-pusher" id="content">

      <!-- sidebar effects INSIDE of st-pusher: -->
      <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

      <!-- this is the wrapper for the content -->
      <div class="st-content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner padding-none">

          <div class="container-fluid">

            <div class="page-section">
              <h1 class="text-display-1">Statement</h1>
            </div>

            <div class="panel panel-default paper-shadow" data-z="0.5">
              <div class="panel-heading">
                <div class="max-width-300 form-group daterangepicker-report">
                  <div class="form-control">
                    <i class="fa fa-calendar fa-fw"></i>
                    <span>December 10, 2014 - January 9, 2015</span>
                    <b class="caret"></b>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table text-subhead v-middle">
                  <thead>
                    <tr>
                      <th class="width-100">Date</th>
                      <th>Item</th>
                      <th class="width-80 text-center">Reference</th>
                      <th class="width-50 text-center">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#7069</a></td>
                      <td class="text-center">&dollar;3</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#12267</a></td>
                      <td class="width-50 text-center">&dollar;30</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#2208</a></td>
                      <td class="text-center">&dollar;78</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#10922</a></td>
                      <td class="text-center">&dollar;14</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#5877</a></td>
                      <td class="text-center">&dollar;29</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#8434</a></td>
                      <td class="width-50 text-center">&dollar;18</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#13262</a></td>
                      <td class="text-center">&dollar;39</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label label-grey-200">12 Jan 2015</div>
                      </td>
                      <td>Adrian Demian</td>
                      <td class="text-center"><a href="#">#61</a></td>
                      <td class="text-center">&dollar;72</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="panel-footer">
                <ul class="pagination margin-none">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>
        <!-- /st-content-inner -->

      </div>
      <!-- /st-content -->

    </div>
    {% include 'edu/base/../base/footer.html' %}
{% endblock %}
