{% load static %}

<!DOCTYPE html>

<html class="ls-top-navbar ls-bottom-footer" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>index</title>



  <link href="{% static 'apps/choose/css/vendor/all.css' %}" rel="stylesheet">

  <link href="{% static 'apps/choose/css/app/app.css' %}" rel="stylesheet">



<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

  <!-- Fluid navbar -->
  <div class="navbar navbar-main navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Learning App</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="collapse">
        <ul class="nav navbar-nav">
          <li><a href="html/index.html">HTML Version</a></li>
          <li><a href="angular/index.html">AngularJS Version</a></li>
        </ul>

        <div class="pull-right">
          <a href="http://themeforest.net/item/real-estate-angular-html-listings-template/10151385?ref=mosaicpro" class="btn btn-success navbar-btn" target="_blank"><i class="fa fa-credit-card fa-fw"></i> Purchase</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-choose margin-none"><i class="fa fa-gift fa-fw text-success fa-2x"></i> Purchase ONCE and get endless amazing updates along with new features for FREE</div>
    <div class="page-section">
      <div class="page-section-heading">
        <h1>Learning App - HTML, Angular Template</h1>
        <p class="lead">Premium learning management template with specialised features, including multiple views(app, website), various interfaces (student, instructor), interactive layouts plus much more.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="html/index.html">Student Application</a></h4>
          </div>
          <div class="panel-body">
            <a href="angular/index.html#/app-student/dashboard" class="display-inline-block">
              <img src="{% static 'student_application/choose/images/choose-student-app.png' %}" alt="Student Learning Application" class="img-responsive" />
            </a>
            <br/>
            <p>
              <a href="{% url 'app_student_dashboard' %}" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
              <a href="angular/index.html#/app-student/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="angular/index.html">Instructor Application</a></h4>
          </div>
          <div class="panel-body">
            <a href="angular/index.html#/app-instructor/dashboard" class="display-inline-block">
              <img src="{% static 'student_application/choose/images/choose-instructor-app.png' %}" alt="Instructor Learning Application" class="img-responsive" />
            </a>
            <p>
              <a href="html/app-instructor-dashboard.html" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
              <a href="angular/index.html#/app-instructor/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="html/index.html">Student Website</a></h4>
          </div>
          <div class="panel-body">
            <a href="angular/index.html#/website-student/dashboard" class="display-inline-block">
              <img src="{% static 'student_application/choose/images/choose-student-website.png' %}" alt="Student Learning Website" class="img-responsive" />
            </a>
            <br/>
            <p>
              <a href="html/website-student-dashboard.html" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
              <a href="angular/index.html#/website-student/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="angular/index.html">Instructor Website</a></h4>
          </div>
          <div class="panel-body">
            <a href="angular/index.html#/website-instructor/dashboard" class="display-inline-block">
              <img src="{% static 'student_application/choose/images/choose-instructor-website.png' %}" alt="Instructor Learning Website" class="img-responsive" />
            </a>
            <p>
              <a href="html/website-instructor-dashboard.html" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
              <a href="angular/index.html#/website-instructor/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="page-section">
    <div class="container text-center">
      <h3 class="lead page-section-heading margin-none">You may also like ...</h3>
      <a class="height-90 height-auto-xs display-inline-block overflow-hidden" target="_blank" href="http://themeforest.net/item/themekit-angular-html-bootstrap-themes-admin/6767145?ref=mosaicpro">
        <img class="img-responsive" src="https://0.s3.envato.com/files/119752388/preview.__large_preview.jpg" alt="ThemeKit - Angular Bootstrap HTML Template" />
      </a>
    </div>
  </div>

  <script>
    var colors = {
      "danger-color": "#e74c3c",
      "success-color": "#81b53e",
      "warning-color": "#f0ad4e",
      "inverse-color": "#2c3e50",
      "info-color": "#2d7cb5",
      "default-color": "#6e7882",
      "default-light-color": "#cfd9db",
      "purple-color": "#9D8AC7",
      "mustard-color": "#d4d171",
      "lightred-color": "#e15258",
      "body-bg": "#f6f6f6"
    };
    var config = {
      theme: "choose",
      skins: {
        "default": {
          "primary-color": "#42a5f5"
        }
      }
    };
  </script>

  <script src="{% static 'student_application/choose/js/vendor/all.js' %}"></script>

  <script src="{% static 'student_application/choose/js/app/app.js' %}"></script>

</body>

</html>