{% load static %}
<!DOCTYPE html>
<html class="hide-sidebar ls-bottom-footer" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Learning</title>

  <link href="{% static 'edu/css/vendor/all.css' %}" rel="stylesheet">

  <link href="{% static 'edu/css/app/app.css' %}" rel="stylesheet">


<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body class="login">

  <div id="content">
    <div class="container-fluid">

      <div class="lock-container">
        <div class="panel panel-default text-center paper-shadow" data-z="0.5">
          <h1 class="text-display-1">Create account</h1>
          <div class="panel-body">

            <!-- Signup -->
            <form role="form" action="home.html">
              <div class="form-group">
                <div class="form-control-material">
                  <input id="firstName" type="text" class="form-control" placeholder="First Name">
                  <label for="firstName">First name</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-control-material">
                  <input id="lastName" type="text" class="form-control" placeholder="Last Name">
                  <label for="lastName">Last name</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-control-material">
                  <input id="email" type="email" class="form-control" placeholder="Email">
                  <label for="email">Email address</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-control-material">
                  <input id="password" type="password" class="form-control" placeholder="Password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-control-material">
                  <input id="passwordConfirmation" type="password" class="form-control" placeholder="Password Confirmation">
                  <label for="passwordConfirmation">Re-type password</label>
                </div>
              </div>
              <div class="form-group text-center">
                <div class="checkbox">
                  <input type="checkbox" id="agree" />
                  <label for="agree">* I Agree with <a href="#">Terms &amp; Conditions!</a></label>
                </div>
              </div>
              <div class="text-center">
                <a href="website-student-dashboard.html" class="btn btn-primary">Create an Account</a>
              </div>
            </form>
            <!-- //Signup -->

          </div>
        </div>
      </div>

    </div>
  </div>


  <footer class="footer">
    <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
  </footer>
  <script>
    var colors = {
      "danger-color": "#e74c3c",
      "success-color": "#81b53e",
      "warning-color": "#f0ad4e",
      "inverse-color": "#2c3e50",
      "info-color": "#2d7cb5",
      "default-color": "#6e7882",
      "default-light-color": "#cfd9db",
      "purple-color": "#9D8AC7",
      "mustard-color": "#d4d171",
      "lightred-color": "#e15258",
      "body-bg": "#f6f6f6"
    };
    var config = {
      theme: "html",
      skins: {
        "default": {
          "primary-color": "#42a5f5"
        }
      }
    };
  </script>


   <script src="{% static 'edu/js/vendor/all.js' %}"></script>

  <script src="{% static 'edu/js/app/app.js' %}"></script>


</body>

</html>