{% load static %}
<div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
      <div data-scrollable>

        <div class="sidebar-block">
          <div class="profile">
            <a href="#">
              <img src="{% static 'edu/images/people/110/guy-6.jpg' %}" alt="people" class="img-circle width-80" />
            </a>
            <h4 class="text-display-1 margin-none">Instructor Name</h4>
          </div>
        </div>

        <ul class="sidebar-menu">
          <li><a href="{% url 'dashboard' %}"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
          <li><a href="{% url 'messages_instructor' %}"><i class="fa fa-paper-plane"></i><span>Messages</span></a></li>
          <li class="active"><a href="{% url 'instructor_my_course' %}"><i class="fa fa-mortar-board"></i><span>My Courses</span></a></li>
          <li><a href="{% url 'earnings' %}"><i class="fa fa-bar-chart-o"></i><span>Earnings</span></a></li>
          <li><a href="{% url 'statement' %}"><i class="fa fa-dollar"></i><span>Statement</span></a></li>
          <li><a href="{% url 'login' %}"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>